@charset "UTF-8";
body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: block;
  text-decoration: none;
}

/* Утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* / Утиилиты */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

/* Site-nav */
.site-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
}

.site-nav__item {
  margin-left: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.contact-nav__item {
  margin-left: 50px;
}

.site-nav__link,
.contact-nav__link {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link,
.contact-nav__link {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus,
.contact-nav__link:hover,
.contact-nav__link:focus {
  color: #2196f3;
}

/* акцент на текущей странице */
.site-nav__link--current {
  color: #2196f3;
  text-decoration: none;
}

.site-nav__item {
  position: relative;
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  content: "";
  height: 4px;
  width: 48px;
  border-radius: 2px;
  background-color: #2196f3;
}

/*// псевдоэлемент нижн подчеркивание */
.contact-nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__icon-evelope {
  display: block;
  height: 12px;
  width: 16px;
}

.contact-nav__icon-smartphone {
  display: block;
  height: 16px;
  width: 10px;
}

.contact-nav__icon-evelope,
.contact-nav__icon-smartphone {
  margin-right: 10px;
  cursor: pointer;
  fill: currentColor;
}

.contact-nav__link:focus .contact-nav__icon-evelope,
.contact-nav__link:focus .contact-nav__icon-smartphone {
  color: #2196f3;
}

.logo {
  display: block;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__accent-color {
  color: #2196f3;
}

/* Герой */
.hero {
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 252px;
  padding-right: 252px;
  font-family: "Roboto", sans-serif;
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  display: block;
  border-radius: 4px;
  border: #2196f3;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}

/* / Герой */
/* / Особенности  */
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-list__item {
  width: 270px;
  margin-right: 30px;
}

.features-list__item:last-child {
  margin-right: 0;
}

.features-list__icon-antenna {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__icon-clock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__icon-diagram {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__icon-astronaut {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-list__card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-list__icon-clock, .features-list__icon-diagram, .features-list__icon-antenna, .features-list__icon-astronaut {
  width: 70px;
  height: 70px;
}

.features__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features-list__title,
.footer-page__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

#svg-sprite {
  display: none;
}

/* / Чем мы занимаемся */
.what-we-do {
  padding-top: 0;
}

.what-we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-we-do__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.thumb {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  display: block;
}

.thumb .label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team-page {
  background-color: #f5f4fa;
}

.team-page-list__item--card-team {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-color: #ffffff;
}

.team-page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-page-list__item {
  margin-right: 30px;
}

.team-page-list__item:last-child {
  margin-right: 0;
}

.team-page-list__item {
  width: 270px;
}

.team-page-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.team-page-list__text {
  margin-top: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.team-page__title,
.clients-page__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.card-thumb__img {
  margin-bottom: 50px;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons-list__item {
  margin-right: 10px;
}

.social-icons-list__item:last-child {
  margin-right: 0;
}

.social-icons-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #afb1b8;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-list__link:hover, .social-icons-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-icons-list__link:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.instagram,
.twitter,
.facebook,
.linkedin {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  /* outline: 1px solid rgba(33, 150, 243, 1); */
}

.clients-page__list .clients-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}

.clients-page__list .clients-page__item {
  margin-right: 30px;
}

.clients-page__list .clients-page__item:last-child {
  margin-right: 0;
}

.clients-page__list .clients-page__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-page__list .clients-page__link:hover, .clients-page__list .clients-page__link:focus {
  color: #2196f3;
  border-color: #2196f3;
  outline: 1px solid #2196f3;
  outline: none;
}

.clients-page__list .clients-page__icon {
  fill: currentColor;
}

/* Футер */
.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-page__logo {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

.footer-page__address {
  font-style: normal;
  color: #ffffff;
}

.footer-page__text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page__text:hover, .footer-page__text:focus {
  color: #2196f3;
}

.footer-page__item {
  margin-top: 9px;
}

.footer-page__item {
  padding: 0;
  margin: 0;
  margin-top: 9px;
}

.foooter-page__address {
  margin-top: 20px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
}

.footer-nav-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* соцсети футер */
.footer-social-box {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-page__title--light {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-page-social-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-social-icons__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-social-icons__link:hover, .footer-page-social-icons__link:focus {
  background-color: #2196f3;
}

.footer-page-social-icons__item {
  margin-right: 10px;
}

.footer-page-social-icons__item:last-child {
  margin-right: 0;
}

/* // соцсети футер */
.footer-page__title--light {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-page-social-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-social-icons__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-social-icons__link:hover, .footer-page-social-icons__link:focus {
  background-color: #2196f3;
}

.footer-page-social-icons__item {
  margin-right: 10px;
}

.footer-page-social-icons__item:last-child {
  margin-right: 0;
}

/*  Форма-футер */
.form-footer {
  width: 570px;
  height: 86px;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  width: 356px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  background: #2f303a;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

/* кнопка */
.footer-form__button {
  display: block;
  padding: 0;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: #2196f3;
  background-image: url("../images/svg/send.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 84% 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196f3;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: white;
  cursor: pointer;
}

/*  // Форма-футер */
.form-footer {
  width: 570px;
  height: 86px;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  width: 356px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  background: #2f303a;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.footer-form__button {
  display: block;
  padding: 0;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: #2196f3;
  background-image: url("../images/svg/send.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 84% 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196f3;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: white;
  cursor: pointer;
}

/*  Форма-футер */
.form-footer {
  width: 570px;
  height: 86px;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  width: 356px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  background: #2f303a;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

/* кнопка */
.footer-form__button {
  display: block;
  padding: 0;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: #2196f3;
  background-image: url("../images/svg/send.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 84% 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196f3;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: white;
  cursor: pointer;
}

/*  // Форма-футер */
.form-footer {
  width: 570px;
  height: 86px;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  width: 356px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  background: #2f303a;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.footer-form__button {
  display: block;
  padding: 0;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: #2196f3;
  background-image: url("../images/svg/send.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 84% 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196f3;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: white;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background: white;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  text-align: center;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */